<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="hibernate.connection.url">jdbc:derby://localhost:1527/empDB</property>
        <property name="hibernate.connection.username">emp</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="com/emp/util/EmpRole.hbm.xml"/>
        <mapping resource="com/emp/util/EmpEmployee.hbm.xml"/>
        <mapping resource="com/emp/util/EmpTask.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
